.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light
  .container
    a.navbar-brand(href='/')
      i.fas.fa-poll
      | Punt
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Inicio') ? 'active' : undefined)
          a.nav-link(href='/') Inicio
