extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Marcas
  
  p
    a.btn.btn-success(href='marcas/agregar')
      i.fas.fa-plus.fa-sm
      | Agregar marca

  table.table.table-hover
    thead.thead-dark
      tr
        th Nombre
        th Editar
        th Eliminar
    tbody
      each marca in marcas
        tr
          td.align-middle= marca.nombre
          td
            a.btn.btn-primary.btn-sm(href=`marcas/editar/${marca._id}`)
              i.far.fa-edit.fa-sm
              | Editar
          td
            a.btn.btn-danger.btn-sm(href=`marcas/eliminar/${marca._id}`, onclick=`return confirm('¿Está seguro de que quiere eliminar la marca ${marca.nombre}?');`)
              i.far.fa-trash-alt.fa-sm
              | Eliminar
