extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Categorías
  
  p
    a.btn.btn-success(href='categorias/agregar')
      i.fas.fa-plus.fa-sm
      | Agregar categoría

  table.table.table-hover
    thead.thead-dark
      tr
        th Nombre
        th Editar
    tbody
      each categoria in categorias
        tr
          td.align-middle= categoria.nombre
          td
            a.btn.btn-primary.btn-sm(href=`categorias/editar/${categoria._id}`)
              i.far.fa-edit.fa-sm
              | Editar
