extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Categorías
  
  p
    a.btn.btn-success(href='categorias/agregar')
      i.fas.fa-plus.fa-sm
      | Agregar categoría

  table.table.table-hover
    thead.thead-dark
      tr
        th Nombre
    tbody
      each categoria in categorias
        tr
          td= categoria.nombre
