extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Productos

  p
    a.btn.btn-success(href='productos/agregar')
      i.fas.fa-plus.fa-sm
      | Agregar producto

  table.table.table-hover
    thead.thead-dark
      tr
        th Categoría
        th Marca
        th Modelo
        th Editar
    tbody
      each producto in productos
        tr
          td.align-middle= producto.categoria.nombre
          td.align-middle= producto.marca.nombre
          td.align-middle= producto.modelo
          td
            a.btn.btn-primary.btn-sm(href=`productos/editar/${producto._id}`)
              i.far.fa-edit.fa-sm
              | Editar
