extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Productos

  table.table.table-hover
    thead.thead-dark
      tr
        th Categoría
        th Marca
        th Modelo
    tbody
      each producto in productos
        tr
          td= producto.categoria.nombre
          td= producto.marca.nombre
          td= producto.modelo
